body{
  padding:3em;
  padding-top:0em;
  background:#111; 
  color:gray;
  display: block;
  font-size:24pt;
  font-family:monospace;
  padding-left:5em;
}

menu, footer{
  display:flex;
  justify-content: space-between;
  text-align:right;
  margin:0;
  padding:0;
  padding-right:2em;
  margin-top:2em;
  margin-bottom:2em;
  line-height:1em;
}

footer{
	text-align:center;
  margin:0;
}

article{
  margin-bottom:3em;
}

.title{
  font-size:24pt;
  color:darkorange;
  margin-left:-1em;
}
li{
	line-height:1.5em;
	margin-bottom:1em;
}
a, a:hover{
  color:goldenrod;
  text-decoration:none;
}
